# Detection server
detection/settings.local.toml
detection/reviews.json
detection/clips/
detection/detections.log

# Node server
node/.env
node/nginx/.htpasswd
node/coturn/turnserver.conf

# Python
one.py
._*
*.log
__pycache__/
*.pyc
deer.mp4
